*{
    margin: 0;
    padding: 0;
}
#inicio{
    margin-bottom: 120PX;
    width: 100%;
}
#header{
    width: 100%;
    height: 210px;
    background-image: url("../img/TURISM.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center; 
    display: inline-block;
}
#artc{
    border-right: solid gray;
    border-width: 1px;
    width: 70%;
    height: auto;
    display: inline-block;
    margin-left: 11.5px;
    margin-top: -90px;
}
#haveit{
    width: 100%;
    display: inline-block;
     margin: 20px;
}
#asid{
    width: 28.5%;
    height: auto;
    display: inline-block;  
    margin-top: -90px;  
}
#lbl{
    display: inline-block; 
    margin-top: 110px;
    font-size: 45px;
    color:white;
    margin-left: 250px;
}
#menu{
    width: 100%;
    background-color: rgb(0, 102, 128);
    display: inline-block;

}
#a1{
    color: white;
    text-decoration: none;
    float: left;
    margin-top:1.3px;
    background-color: rgb(0, 102, 128);
    width: 10%;
    padding: 1%;
    text-align: center;
}
#a1:hover{
    background-color: teal;
}
#img{
    width: 3%;
    float:right;
    margin-top: 2px;
}
#img1{
    width:4%;
    float:right;
    margin-top: 2px;
    margin-left: -7.5px;
    height: 10%;
}
#img2{
    width:3%;
    float:right;
    height: 10%;
}
/* main tarjetas*/

#contenedor{
    width: 90%;
    text-align: center;
    margin-left: 4.5%;
    color: rgb(99, 93, 93);
}
#tarjeta1{
    background-color: white;

    width:390px;
    height:530px;
    border-radius: 1px;
    text-align: center;
    font-size: 25px;
    float: left;
    border-style: solid;
    border-width: 2px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-color: rgb(18, 121, 18);
    margin-right: 10px;
}
#pie1{
    width: 100%;
    height: 5%;
    background-color:rgb(18, 121, 18);
    margin-top: 7.5%;
}
#tarjeta2{
    background-color: white;

    width:390px;
    height:530px;
    border-radius: 1px;
    text-align: center;
    font-size: 25px;
    display: inline-block;
    border-style: solid;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-color: rgb(240, 184, 3);
    border-width:2px;
    margin-left: 50px;
}

#pie2{
    width: 100%;
    background-color: rgb(240, 184, 3);
    height: 5%;
    margin-top: 6.4%;
}
#tarjeta3{
    background-color: white;
    width:390px;
    height:530px;
    border-radius: 1px;
    text-align: center;
    font-size: 25px;
    float: left;
    border-style: solid;
    border-width: 2px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-color: rgb(8, 108, 155);
    margin-left: 46px;
}
#pie3{
    width: 100%;
    background-color: rgb(8, 108, 155);
    height: 5%;
    margin-top: 7.5%;
}
#lin1{
    width: 80%;
    border-style:dashed;
    border-width: 1px;
    display: inline-block;
    margin-top: 30px;
    color: rgb(18, 121, 18);
}
#inp1{
    width: 60%;
    height: 7%;
    margin-top: 15px;
    background-color: rgb(18, 121, 18);
    border-style: none;
    color: white;
}
#inp1:hover{
    background-color: rgb(37, 192, 37);
}
#lin2{
    width: 80%;
    border-style:dashed;
    border-width: 1px;
    display: inline-block;
    margin-top: 30px;
    color: rgb(240, 184, 3);
}
#inp2{
    width: 60%;
    height: 7%;
    margin-top: 15px;
    background-color: rgb(240, 184, 3);
    border-style: none;
    color: white;
}
#inp2:hover{
    background-color: rgb(231, 189, 52);
}
#lin3{
    width: 80%;
    border-style:dashed;
    border-width: 1px;
    display: inline-block;
    margin-top: 30px;
    color: rgb(8, 108, 155);
}
#inp3{
    width: 60%;
    height: 7%;
    margin-top: 15px;
    background-color: rgb(8, 108, 155);
    border-style: none;
    color: white;
}
#inp3:hover{
    background-color: rgb(33, 141, 190);
}
#imag{
    width: 99%;
    height: 5%;
    margin-top: 1px;
    border-radius: 1px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
#imag1{
    width: 99%;
    height: 292px;
    margin-top: 1px;
    border-radius: 1px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
#imag:hover{
    opacity: 50%;
}
#imag1:hover{
    opacity: 50%;
}

/*footer*/
#footer{
    width: 100%;
    height: 81px;
    background-color: rgb(7, 7, 7);
    margin-top: 1%;
    color: white;
    text-align: center;
}
/*Diseño de formulario de sugerencias de usuarios*/
#suguest{
    width: 100%;
    display: inline-block;
    place-items: right;
}
#frm-sug{
    width: 95%;
    height: auto;
    border-style: solid;
    border-width: 1px;
    margin-top: 30px;
    margin-left: 10px;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
}
#txt{
    width: 95%;
    margin: 10px;
    display: inline-block;
    height: 42px;
    font-size: 23px;
    color: rgb(92, 92, 91);
    border-radius: 5px;
    text-align: center;
}
#lbl-f{
    font-size: 15px;
    color: rgb(31, 31, 30);
    margin-top: 10px;
    display: inline-block;
}
#spn{
    color: rgb(187, 8, 8);
}
#txt-area{
    width: 95%;
    margin: 10px;
    display: inline-block;
    height: 190px;
    font-size: 23px;
    color: rgb(92, 92, 91);
    border-radius: 5px;
}
#sub{
    width: 20%;
    height: 40px;
    margin-bottom: 10px;
    background-color: rgb(3, 62, 70);
    color: white;
    font-size: 21px;
}
#gug-f{
    margin-left: 20px;
}
/*Diseño de los sitios por Municipio*/
/*Slaider*/
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  width: 95%;
  position: relative;
  margin: auto;
  margin-left: 29px;
  margin-top: 10px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
#btns-ss{
    margin-left: 47.5%;
}
.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*Disseño header de municipios*/
#header-1{
    width: 100%;
    height: 94px;
    background-color: rgb(2, 34, 31);
    color: white;
    text-align: center;
}
#lnk-1{
    color: wheat;
}
#artcle{
    width: 65%;
    margin-left: 50px;
    border-left: solid 1px gray;
    display: inline-block;
    margin-top: 20px;
}
#h2-1{
    margin-left: 30px;
}
#aside-mn{
    width:28%;
    height: 565px;
    border-right: solid 1px gray;
    display: inline-block;
    margin-right: 55px;
    margin-top: 20px;
    float: right;
}
#volante{
    width: 95.4%;
    height: 160px;
    background-color: rgb(236, 236, 236);
    margin-top: 18px;
    border-bottom: solid 1px dimgray;
    margin-right: 15px;
}
#lbl-con{
    font-size: 23px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    margin-left: 20px;
    margin-bottom: 10px;
}
#inf{
    width: 30%;
    height: 50px;
    border-style: none;
    background-color: rgba(22, 7, 156, 0.829);
    margin-left: 335px;
    color: white;
    font-size: 21px;
    margin-top: 10px;
}
#dv{
    width: 100%;
    background-color: rgba(173, 168, 168, 0.568);
    text-align: right;
    margin-top: 20px;
    height: 30px;
}
#lk{
    font-size: 20px;
    color: rgb(4, 4, 122);
    margin-right: 5px;
    display: inline-block;
}
#rc{
    font-size: 218px;
    margin-right: 5px;
    display: inline-block;
}
#tr2{
    margin-top: 20px;
    width: 94.5%;
    height: auto;
    margin-left: 50px;
    margin-right: auto;
    margin-bottom: 1px;
    border-style: dashed;
    border-left: none;
    border-right: none;
}
#conten-2r{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
}

#derecha{
    width: 50%;
    float: left;
    height: auto;
}
#izq{
    width: 50%;
    float: right;
    height: auto;
}
#volante-1{
    width: 95%;
    height: auto;
    background-color: rgb(241, 237, 237);
    margin-top: 18px;
    margin-left: 27px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: solid 1px dimgray;
}
#volante-2{
    width: 95%;
    height: auto;
    background-color: rgb(241, 237, 237);
    margin-top: 18px;
    border: solid 1px dimgray;
    margin-right:25px;
    display: inline-block;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#det{
    background-color: white;
}
#smmr{
    margin-bottom: 5px;
    width: 100%;
    height: 30px;
    background-color: rgb(54, 218, 155) ;
    color: rgb(68, 68, 68);
    text-align: center;
    font-size: 20px;
}
#imagen{
    margin-left: 17px;
    margin-bottom: 10px;
    margin-top: 10px;
    width:94.4%;
    height:180px;
    display: inline-block;
    border-radius: 10px;
}