*{
    margin: 0;
    padding: 0;
}
#inicio{
    margin-bottom: 120PX;
    width: 100%;

}
#header{
    width: 100%;
    height: 210px;

    background-image: url("/recursos/img/TURISM.png");
    background-size: cover;
    background-repeat: no-repeat;

    color: white;
    text-align: center; 
    display: inline-block;
}
#lbl{
    display: inline-block; 
    margin-top: 110px;
    font-size: 45px;
    color:white;
    margin-left: 250px;
}
#menu{
    width: 100%;
    background-color: rgb(0, 102, 128);
    display: inline-block;

}
#a1{
    color: white;
    text-decoration: none;
    float: left;
    margin-top:1.3px;
    background-color: rgb(0, 102, 128);
    width: 10%;
    padding: 1%;
    text-align: center;
}
#a1:hover{
    background-color: teal;
}
#img{
    width: 3%;
    float:right;
    margin-top: 2px;
}
#img1{
    width:4%;
    float:right;
    margin-top: 2px;
    margin-left: -7.5px;
    height: 10%;
}
#img2{
    width:3%;
    float:right;
    height: 10%;
}
/* main tarjetas*/
#h3{

}
#contenedor{
    width: 90%;
    text-align: center;
    margin-left: 4.5%;
    color: rgb(99, 93, 93);
}
#tarjeta1{
    background-color: white;

    width:390px;
    height:530px;
    border-radius: 1px;
    text-align: center;
    font-size: 25px;
    float: left;
    border-style: solid;
    border-width: 2px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-color: rgb(18, 121, 18);
}
#pie1{
    width: 100%;
    height: 5%;
    background-color:rgb(18, 121, 18);
    margin-top: 7.5%;
}
#tarjeta2{
    background-color: white;

    width:390px;
    height:530px;
    border-radius: 1px;
    text-align: center;
    font-size: 25px;


    display: inline-block;
    margin:0 auto;

    border-style: solid;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-color: rgb(240, 184, 3);
    border-width:2px;
}
#pie2{
    width: 100%;
    background-color: rgb(240, 184, 3);
    height: 5%;
    margin-top: 7%;
}
#tarjeta3{
    background-color: white;

    width:390px;
    height:530px;
    border-radius: 1px;
    text-align: center;
    font-size: 25px;

    float: right;
    border-style: solid;

    border-width: 2px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-color: rgb(8, 108, 155);
}
#pie3{
    width: 100%;
    background-color: rgb(8, 108, 155);
    height: 5%;
    margin-top: 7.5%;
}
#lin1{
    width: 80%;
    border-style:dashed;
    border-width: 1px;
    display: inline-block;
    margin-top: 30px;
    color: rgb(18, 121, 18);
}
#inp1{
    width: 60%;
    height: 7%;
    margin-top: 15px;
    background-color: rgb(18, 121, 18);
    border-style: none;
    color: white;
}
#inp1:hover{
    background-color: rgb(37, 192, 37);
}
#lin2{
    width: 80%;
    border-style:dashed;
    border-width: 1px;
    display: inline-block;
    margin-top: 30px;
    color: rgb(240, 184, 3);
}
#inp2{
    width: 60%;
    height: 7%;
    margin-top: 15px;
    background-color: rgb(240, 184, 3);
    border-style: none;
    color: white;
}
#inp2:hover{
    background-color: rgb(231, 189, 52);
}
#lin3{
    width: 80%;
    border-style:dashed;
    border-width: 1px;
    display: inline-block;
    margin-top: 30px;
    color: rgb(8, 108, 155);
}
#inp3{
    width: 60%;
    height: 7%;
    margin-top: 15px;
    background-color: rgb(8, 108, 155);
    border-style: none;
    color: white;
}
#inp3:hover{
    background-color: rgb(33, 141, 190);
}
#imag{
    width: 99%;
    height: 5%;
    margin-top: 1px;
    border-radius: 1px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
#imag1{
    width: 99%;
    height: 292px;
    margin-top: 1px;
    border-radius: 1px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}


/*footer*/
#footer{
    width: 100%;
    height: 81px;
    background-color: rgb(7, 7, 7);
    margin-top: 5%;
    color: white;
    text-align: center;
}